/*  your css code here. If applicable */
#container {
	width : 1100px;
	background-color : cyan;
}

#col-1, #col-3 {
	width : 200px;
}

#col-2 {
	width : 600px;
}	

#para-1 {
	text-align : center;
	line-height:0;
}

#para-2 {
	text-align : center;
}	

h4{
	text-decoration: bolder;
}


.center-list {
	width: fit-content; 
	margin : 0 auto;
	text-align : left;
}

#inner {
	padding: 5px;
}

table, tr, td {
	border : 1px solid black;
	border-collapse : collapse;
}